.row{
    width: 100%;
    margin: auto;
    
}
.card{
    width: 80%;
    margin: auto;    
    position: relative;

    
}
.card-body{
    position: relative;

}
#btnEnviar{
    width: 100%;
    margin: auto;
}
.btn-google{
    color: white;
    background-color: rgba(236, 55, 55, 0.904);
}
.btn-twitter{
    background-color: rgb(0, 195, 255);
    color: white;
}
.btn-facebook{
    color: white;
    background-color: rgb(69, 69, 204);
}
.screen{
    /* background-color: rgb(204, 69, 204); */
    height: 632px;
    width: 100%;
    background: url('/assets/wallpaper.jpg')  ;
}

.lblRegistro{
    color: rgb(54, 71, 224);
    float: right;
    margin-top: 8px;
    cursor: pointer;
}

.lblLogin{
    color: rgb(54, 71, 224);
    cursor: pointer;
    width: 100%;
    text-align: center;
    height: 20px;
}
#name, #email, #password, #password-again{
    height: 40px;

}
