.navbar{
    /* background-color: rgba(0, 0, 0, 0.808); */
    color: white;
    width: 100%;
    margin: 0 auto;
    
} 

img.rounded-circle{
    width: 45px;
    height: 45px;
}
.nav-link{
    color: rgb(197, 197, 197);
    font-size: 16px;
    font-family: 'Amatic SC', cursive;
}

span.badge{
    font-size: 15px;
    background-color: rgb(221, 81, 81);
    font-family: 'Pompiere', cursive;
    color:white;
}

#itemexit{
    position: absolute;
    right: 20px;
}
#itemcart{
    position: absolute;
    right: 100px;
}
.nav{
    width: 100%;

}
.nav-link:hover{
    color: rgb(53, 52, 52);    
}

.userAcr{
    position: absolute;
    right:20px;
    display: inline-flex;

}

/* 
font-family: 'Indie Flower', cursive;
font-family: 'Metamorphous', cursive;
font-family: 'Pompiere', cursive;
font-family: 'Loved by the King', cursive;
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'UnifrakturCook', cursive;

    font-family: 'Amatic SC', cursive;
font-family: 'Astloch', cursive; */






